    #contact_canvas {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    hr {
        border-top: 1px solid #fff;
    }

    .contact-img {
        height: 150px;
        float: right
    }

    h1 {
        font-size: 70px;
        padding: 30px;
        text-shadow: 5px 2px #0008ff;
        float: left
    }

    .contact-form {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .contact-form-details {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .contact-image {
        text-align: center;
    }

    .contact-image img {
        border-radius: 50%;
        width: 20%;
        margin-top: -8%;
    }

    .contact-form form {
        padding: 5% 10%;
    }

    .contact-form h3 {
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }


    label {
        color: #fff;
        font-weight: bold
    }


    .form-control {
        border-radius: 0px;
        height: 50px;
        border: 2px solid
    }

    input[type=text] {
        border-radius: 0px;
    }

    .custom-select {
        border: none;
        border-radius: 0px;
        height: 50px;
    }

    .form-group span {
        color: red;
    }


