* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none !important;
}

.no-padding-lr {
    padding: 0px !important;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}


.clearfix:after {
    clear: both;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
}

.mbottom-0 {
    margin-bottom: 0px;
}

.border-none {
    border: none;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
}

.font-35 {
    font-size: 35px;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}


/*NO PADDING , NO_MARGIN CLASSES , PADDING CLASSES , TEXT_COLOR ClASSES , BG_CASSES*/
8 .d-flex {
    display: flex !important;
    flex: 1;
}

.d-flex-01 {
    flex: 1;
    display: flex;
}

.d-tablecell {
    display: table-cell;
}

.padLR-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padLR-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padL-10 {
    padding-left: 10px;
}

.padL-15 {
    padding-left: 15px;
}

.padL-25 {
    padding-left: 25px;
}

mB-0 {
    margin-bottom: 0px;
}

.mL-10 {
    margin-left: 10px;
}

.marginTB-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marginTB-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginTB-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.marginB-75 {
    margin-bottom: 75px
}

.marginTB-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block !important;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px
}

.pad-20 {
    padding: 20px
}

.pad-30 {
    padding: 30px;
}

.padTB-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padR-10 {
    padding-right: 10px;
}

.padr-30 {
    padding-right: 30px;
}

.padr-50 {
    padding-right: 50px;
}

.marginr-25 {
    margin-right: 25px
}

.margin-10 {
    margin: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.h-100 {
    height: 100% !important
}

.w-100 {
    width: 100%
}

.border {
    border: 2px solid #dee2e6 !important
}

.bshadow:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.b-shadow {
    /*    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15) !important;*/
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)
}

.b-shadow2 {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
}

.bg-gradiant {
    background: rgb(0, 255, 34);
    background: linear-gradient(90deg, rgba(0, 255, 34, 1) 0%, rgba(2, 137, 120, 1) 29%, rgba(3, 99, 115, 1) 51%, rgba(4, 4, 111, 1) 100%);
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    background: rgb(0, 255, 34);
    background: linear-gradient(90deg, rgba(0, 255, 34, 1) 0%, rgba(2, 137, 120, 1) 29%, rgba(3, 99, 115, 1) 51%, rgba(4, 4, 111, 1) 100%);
    border: 1px solid #fff
}

.bg-trans-light {
    background: #a0e0ff54;
}

.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item {
    color: #fff
}

.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background: skyblue
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: orangered;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: black !important;
}

.text-red {
    color: red;
}

.text-orange {
    color: orange !important;
}

.text-yellow {
    color: yellow !important;
}

.text-green {
    color: limegreen !important
}

.text-lightgray {
    color: lightgray !important
}

.text-skyblue {
    color: deepskyblue
}

.text-lightgrey {
    color: #716f6fa6 !important;
}

.text-lightblue {
    color: #0aab9b !important
}

.bg-grey {
    background: #f5f5f5;
}

.bg-trans {
    background: transparent;
}

.bg-white {
    background: #fff;
}

.bg-lightblue {
    background: #0aab9b;
}

.bg-black {
    background: black;
}

.text-bold {
    font-weight: bold !important;
}

.b-radius10 {
    border-radius: 10px;
}

.b-radius5 {
    border-radius: 5px;
}

.font-12 {
    font-size: 12px;
}

.font-15 {
    font-size: 15px;
}

.font-25 {
    font-size: 25px;
}

.font-20 {
    font-size: 20px;
}

.font-65 {
    font-size: 65px;
}

.font-145 {
    font-size: 145px
}

.font-50 {
    font-size: 50px;
}

::-webkit-input-placeholder {
    /* font-weight: bold !important;*/
    color: lightgrey !important;
}

.venue-items .v-left {
    border-radius: 8px;
    /*
    margin: 10px;*/
}

.venue-items .v-left:hover,
.venue-items .v-left:focus,
.venue-items .v-left.active {
    background: linear-gradient(90deg, rgba(0, 255, 34, 1) 0%, rgba(2, 137, 120, 1) 29%, rgba(3, 99, 115, 1) 51%, rgba(4, 4, 111, 1) 100%);
}

.venue-items .v-left:hover a,
.venue-items .v-left:hover a span,
.venue-items .v-left.active a,
.venue-items .v-left.active a span,
.venue-items .v-left:focus a,
.venue-items .v-left:focus a span {
    color: #fff !important;

}

.venue-items .v-right {
    padding: 27px 15px;
    cursor: pointer;
    border-radius: 8px;
}

.venue-items .v-right .form-control {
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.venue-items .v-right .form-control:focus {
    box-shadow: none;
    outline: none;
}

.item-cards .card {
    border-radius: 9px;
    cursor: pointer;
}

.item-cards .card-header,
.blog-item-cards .card-header {
    padding: 0px;
}

.item-cards .card-header img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-item-cards .card-header img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}












/*ON HOVER , ON-FOCUS CllASSES*/
.page-link:hover,
.page-link:active,
.page-link:focus {
    color: #fff;
    background: rgb(0, 255, 34) !important;
    background: linear-gradient(90deg, rgba(0, 255, 34, 1) 0%, rgba(4, 4, 111, 1) 100%) !important;
}

.card:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.page-link {
    font-size: 20px;
}

.modal-open .modal {
    background: #000000b0;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}



content-right .fa-star:before,
content-right .fa-star-o:before {
    color: orangered;
}

.content-right .fa-map-marker:before,
.content-right .fa-tags:before,
.content-right .fa-group:before,
.content-right .fa-users:before {
    color: lightgrey;
}

.fa-stop-circle-o:before {
    color: green
}

.contact {
    border: 1px solid skyblue;
    background: #b8dcea;
    padding: 15px;
}

.btn:hover,
.btn-submit:hover {
    background: rgb(4, 4, 111);
    background: linear-gradient(90deg, rgba(4, 4, 111, 1) 0%, rgba(0, 255, 34, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    color: #fff
}

.title-categories {
    padding-bottom: 5px;
    border-bottom: 3px solid #eae4e4;
}


ol .halls {
    list-style-type: decimal;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 7px;
    background: #fff;
    border: 2px solid lightgrey;
    color: black;
    text-align: center;
    font: 18px Arial, sans-serif;
    display: inline-block
}

.venues-list,
.price,
.guests,
.best-venues {
    border: 2px solid #2abd2a;
    padding: 15px;
    margin-bottom: 35px;
}

.venues-list a,
.price a,
.guests a,
.best-venues a {
    color: black
}

.venues-list a:hover,
.price a:hover,
.guests a:hover,
.best-venues a:hover {
    text-decoration: none;
    outline: none;

}

.guests .fa-group:before,
.guests .fa-users:before {
    color: black
}

.price-range-block {
    margin: 10px;
}


/*PRICE AND GUESTS SLIDER CSS*/

.sliderText {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight: bold;
}

.ui-slider-horizontal {
    height: .6em;
}

.ui-slider-horizontal {
    margin-bottom: 15px;
    width: 100%;
}

.ui-widget-header {
    background: orangered;
}

.price-range-search,
guests-range-searc {
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    padding: 4px 6px;
    border: none;
    border-radius: 0px;
    float: right
}

.price-range-search:hover,
guests-range-searc:hover {
    color: #fff;
}

.price-range-field {
    width: 25%;
    min-width: 25%;
    background-color: transparent;
    border: none;
    color: black;
    font-family: myFont;
    font: normal 14px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 26px;
    padding: 5px;

}

.search-results-block {
    position: relative;
    display: block;
    clear: both;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 3px solid orangered;
    color: orangered;
}

.ui-slider-handle:hover,
ui-slider-handle:active {
    color: orangered;
    background: white;
    border: 3px solid orangered;
}


.best-venues hr {
    border-top: 3px solid lightgray;
    margin: 0px;
    margin-top: 5px;
}

.TBpad-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.LRpad-10 {
    padding: 0px 10px;
}

.LRpad-25 {
    padding: 0px 25px;
}


/*VENUE PAGE CSS STARTS HERE*/

/*MAP CSS*/
.map-container {
    overflow: hidden;
    padding-bottom: 52%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 700px;
    width: 100%;
    position: absolute;
}

/* contact from design */
.contactform label {
    font-weight: bold;
}

.contactform .form-control {
    height: 50px;
    border: 2px solid #dedfe0 !important;
}

.price-inputsa {
    margin: 0px 10px 0px 0px
}

.price-inputsb {
    margin: 0px 0px 0px 10px
}

.btn-submit {
    width: 100%;
    background: rgb(0, 255, 34);
    background: linear-gradient(90deg, rgba(0, 255, 34, 1) 0%, rgba(2, 137, 120, 1) 29%, rgba(3, 99, 115, 1) 51%, rgba(4, 4, 111, 1) 100%);
    border: none;
    color: #fff;
    font-weight: bold;
}

.btn-contactus,
.btn-contactus:hover,
.btn-contactus:focus,
.btn-contactus:focus-within,
.btn-contactus:active {
    color: #fff;
    font-weight: bold;
    background: orange;
    border: none;
    padding: 10px 25px;
    outline: none;
}

.section2 {
    position: relative;
    overflow: hidden;
}

.form-grade {
    background: #fff;
    border-radius: 6px;
    padding: 35px;
}

.section2 .contactform {
    margin: 90px 0px;
    position: absolute;
    top: 0;
    width: 26%;
    right: 5%;
    z-index: 99;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    background: linear-gradient(360deg, rgba(4, 4, 111, 1) 0%, rgba(0, 255, 34, 1) 100%)
}

.section2 .contactform h5 {
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-banner {
    padding: 25px;
    background: #f5f5f5;
}

.we-provide-categories .fa {
    font-size: 50px
}

.we-provide-categories a {
    color: black
}

.we-provide-categories .card {
    min-height: 116px;
    border-radius: 0px;
    transition: all .5s ease 0s;
}

.we-provide-categories .card:hover {
    background: linear-gradient(360deg, rgba(4, 4, 111, 1) 0%, rgba(0, 255, 34, 1) 100%);
    color: #fff;
    border: none;
    transform: scale(1.2);
    transition: all .5s ease 0s;
}

.we-provide-categories ol {
    bottom: -4% !important;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.we-provide-categories .card-footer {
    background: transparent;
    border-top: none;
    padding: 10px;
}

.we-provide-categories span {
    padding: 10px;
}

.statistics {
    padding: 35px;
    margin-top: 25px;
    font-weight: bold;
}


.review-slide {
    background: #f5f5f5;
    padding: 15px;
}

.review-slide .col-md-3 {
    background: #fff;
    padding: 35px;
    margin: 10px;
    text-align: justify;
}

.review-slide .col-md-3 img {
    position: absolute;
    width: 65px;
    top: -38px;
    border: 5px solid #e3e3e3;
    border-radius: 50%;
}

.review-slide .fa {
    font-size: 20px;
    padding: 0px 5px;
}

.weprovide {
    display: inline-block;
    padding: 13px 75px;
    margin: 0px;
}

.quote {
    position: absolute;
    top: 108px;
    right: 48.5%
}

.review-slide img {
    width: 100%;
    height: auto;
}


.review-slide .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 6px solid #eeeeee;
    margin: 0px 30px;
}

.review-slide .carousel-indicators .active {
    background-color: orange;
}



body .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.review-slide .carousel-item {
    padding: 35px
}

.blog-item-cards .card {
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.item-cards .card {
    transition: 0.3s;
}

.blog-item-cards .card:hover,
.item-cards .card:hover {
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1.1)
}

.blog-item-cards .card-header {
    border-bottom: none;
}

.blog-item-cards .card-footer .fa {

    padding: 0px 15px;
}

.blog-item-cards .card {
    cursor: pointer;
}

#text,
#blog {
    display: none;
}

.we-provide {
    margin-top: 40px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*BOOKING VENUE CSS STARTS HERE*/

#map-head {
    display: none;
}

.booking-venue-banner1 {
    background-image: url(../images/new_york_city.jpg);
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.booking-venue-banner1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 500px;
    padding: 35px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9500175070028011) 32%, rgba(255, 255, 255, 0.35898109243697474) 100%);
}

.booking-venue-banner1-content section {
    bottom: 25px;
    position: absolute;
    width: 100%;
    right: 0;
    padding: 0px 30px;
}

.booking-quicklinks {
    padding: 15px 30px;
    background: #555e67;

}

.booking-quicklinks a {
    padding: 0px 25px;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.booking-quicklinks a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -19px;
    left: 0;
    background-color: #0aab9b;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.booking-quicklinks a:hover:before,
.booking-quicklinks .active > a:before {
    visibility: visible;
    width: 100%;
}












/*FOR THE MOBIE DEVICES WHOSE WIDTH IS LESS THAN 600PX;/*/

@media only screen and (max-width: 600px) {
    .no-padding-r {
        padding-right: 0px;
    }

    .padTB-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .fontx-12 {
        font-size: 12px;
    }

    .fontx-15 {
        font-size: 15px;
    }

    .fontx-16 {
        font-size: 16px !important;
    }

    .text-xs-center {
        text-align: center;
    }

    .fontx-20 {
        font-size: 20px
    }

    .fontx-25 {
        font-size: 25px;
    }

    .padxr-18 {
        padding-right: 18px;
    }

    .pad-xs-5 {
        padding: 5px !important;
    }

    .pad-xs-10 {
        padding: 10px !important;
    }

    .pad-xs-20 {
        padding: 20px;
    }

    .mbottomx-0 {
        margin-bottom: 0px;
    }


    .mtopx-15 {
        margin-top: 15px;
    }

    .bradius-x-0 {
        border-radius: 0px !important;
    }

    .dxblock {
        display: block !important;
    }

    .pad-xs-0 {
        padding: 0px
    }

    .no-paddingx-lr {
        padding: 0px !important
    }

    .padxLR-15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .page-link {
        font-size: 10px;
        padding: 10px;
    }

    .visible-xs {
        display: visible;
    }

    .hidden-xs {
        display: none;
    }

    .mxs-auto {
        margin: 0 auto;
    }

    .mxs-0 {
        margin: 0px !important;
    }

    .marginxr-5 {
        margin-right: 5px;
    }

    .navigators {
        float: right
    }

    .contact h6 {
        font-size: 14px;
    }

    .links-nav li,
    .links-nav {
        width: 100%;
    }

    .dropdown-item {
        text-align: right
    }

    .copyrights {
        list-style: none;
        text-align: center;
        padding: 0px;
        padding-top: 10px;
    }

    .social {
        text-align: center;
    }

    .best-venues h6 {
        font-size: 20px
    }



    .best-venues h5,
    .best-venues h6 {
        display: inline-block
    }

    .best-venues .venue-name h6 {
        display: block !important;
        float: left
    }

    /*.best-venues h6 {
        float: right
    }*/

    .form-grade {
        padding: 15px;
    }

    .section2 .contactform {
        width: 90%
    }

    .contact-banner {
        padding-top: 120px
    }

    .navigators {
        position: relative;
        top: 10px;
        right: 5px;
    }


    .we-provide-categories .card {
        min-height: 140px;
    }

    .venue-items .v-right {
        margin: 10px;
    }

    .item-cards .card {
        width: 100%
    }

    /*FOR MOBILE VIEW SAME CLASS BT VALUE CHANGES*/
    .font-145 {
        font-size: 50px
    }

    .quote {
        position: absolute;
        top: 55px;
        right: 48.5%
    }

    .quote img {
        width: 32px !important;
    }

    .review-slide .col-md-3 {
        margin-bottom: 35px;
    }

    .blog-item-cards .card {
        min-width: 100%;
    }

    .booking-quicklinks {
        padding: 5px;
    }

    .booking-quicklinks a {
        padding: 5px;
        font-size: 12px;
    }

    .booking-quicklinks a:before {
        height: 3px;
        bottom: -4px;
    }

    .triangle-left {
        display: none;
    }

    .booking-venue-banner1-content section {
        padding: 15px;
    }

    .booking-venue-content {
        padding: 15px !important;
    }

    .booking-venue-banner1 {
        min-height: 400px;
    }

    .booking-venue-banner1-content {
        min-height: 400px;
    }

    .weprovide {
        padding: 13px 20px;
    }

    .review-slide .carousel-item {
        padding: 0px;
        margin-top: 30px;
    }

}







/*NAVAR COMPETE CSS*/
.navbar {
    padding: 0rem;
}

.navbar-nav {
    text-align: right;
}

.dropdown .dropdown-menu {
    border-radius: 0;
}


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
    }

    .copyrights {
        text-align: right
    }
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.navbar {
    background: black !important;
    font-weight: bold;
}

.contact-nav {
    padding: 10px 12px;
    border-bottom: 1px solid #ffffff73;
}

.contact-nav .nav-item {
    padding: 8px;
}

.contact-nav .nav-link a {
    color: limegreen;
    font-weight: bold;
}

input[type=text]:focus {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.links-nav {
    padding: 10px;
}

.page-title {
    padding: 25px;
    margin-bottom: 10px;
    color: #fff
}




/*FOOTER COMPLETE CSS STARTS HERE*/
.footer-bs {
    background-color: black;
    padding: 40px 40px 20px 40px;
    color: #fff
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: #fff;
}

.footer-bs .footer-nav ul.list a:hover {
    color: orangered;
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: #fff
}

.footer-bs .footer-social a:hover {
    color: orangered;
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs hr {
    border-top: 1px solid #ffefef40 !important;
}


/*FOOTER SOCIAL ICONS*/
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover,
.social-network a.icoLinkedin:hover,
.social-network a.icoTwitter:hover,
.social-network a.icoInstagram:hover,
.social-network a.icoPinterest:hover {
    background: rgb(4, 4, 111);
    background: linear-gradient(90deg, rgba(4, 4, 111, 1) 0%, rgba(0, 255, 34, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}


.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoPinterest:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}


@media (min-width: 768px) {

    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }

    .copyrights {
        display: inline-block;
        list-style: none;
        /* text-align: right; */
        float: right;
    }

    .card-footer {
        text-align: center;
    }
}


/*SPECIFIC CSS ONLY FOR THE IPAD */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .m-sm-0 {
        margin: 0px;
    }

    .contact-nav .nav-item {
        padding: 0px;
    }

    .navbar {
        font-size: 12px;
    }

    .content-filter {
        font-size: 11px;
    }

    .numberCircle {
        font-size: 10px;
        height: 30px;
        width: 30px;
    }

    .content-right {
        font-size: 12px;
    }

    .content-right h3 {
        font-size: 15px;
    }

    .content-right .btn {
        font-size: 10px;
    }

    .pad5 {
        padding: 5px
    }

    .carousel-control-prev {
        left: 8px;
    }

    .carousel-control-next {
        right: 8px;
    }

    .nav-toggle-cities,
    .nav-toggle-venues {
        font-size: 9px
    }

    .best-venues h4 {
        display: inline-block;
        padding-right: 0px !important;
        font-size: 11px;
    }

    .best-venues h6,
    .best-venues h5 {
        font-size: 15px
    }

    .best-venues .fa-long-arrow-right:before,
    .best-venues .fa-long-arrow-left:before {
        font-size: 12px;
    }

    .best-venues {
        margin-bottom: 0px;
    }

    .footer-bs h4 {
        font-size: 15px;
    }

    .footer-bs h6 {
        font-size: 12px;
    }

    .venues-list h4,
    .price h4,
    .guests h4,
    locations h4 {
        font-size: 11px;
    }

    .price-range-field {
        width: 40%;
        padding: 2px;
    }

    .hidden-sm {
        display: none ! !important
    }

    .price-range-search {
        padding: 0px 11px;
        font-size: 13px;
    }



    /*VENUE PAGE IPAD CSS*/
    .section2 .contactform {
        width: 48%;
        top: -73px;
    }

    .contact-banner {
        padding-top: 90px;
    }

    .contact-banner .col-md-6 {
        min-width: 100%;
    }

    .contact-banner .col-md-3 {
        min-width: 50%;
    }


    .we-provide-categories .card {
        min-height: 140px;
    }

    .venue-items {
        font-size: 12px;
    }

    .venue-items h4 {
        font-size: 15px;
    }

    .venue-items .v-right {
        margin: 10px 0px;
        padding: 23px 5px;
    }




    .item-cards,
    .item-cards .card,
    .item-cards .card h5,
    .item-cards .card span {
        font-size: 14px;
    }

    .review-slide .col-md-3 {
        padding: 25px;
        margin: 0px;
        font-size: 15px;
    }

    .blog-item-cards .card-footer .fa {
        padding: 0px 6px !important
    }

    .blog-item-cards .card-footer {
        padding: 5px
    }


    /*BOOING VENU PAGE IPAD CSS*/
    .no-paddingsm-lr {
        padding: 0px !important;
    }

    .booking-venue-content .col-md-9,
    .booking-venue-content .col-md-3 {
        min-width: 100%
    }

    .font-sm12 {
        font-size: 12px;
    }

    .font-sm15 {
        font-size: 15px;
    }

    .font-sm18 {
        font-size: 18px;
    }

    .pad-sm-0 {
        padding: 0px;
    }

    .pad-sm-5 {
        padding: 5px;
    }

    .pad-sm30 {
        padding: 30px;
    }

    .padLR-sm15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .booking-venue-content {
        padding: 20px !important;
    }

    .blog-item-cards .card-header img {
        height: 150px;
    }

}




.booking-venue {
    background: #f5f5f5;
}

.booking-venue-banner1 .fa,
.booking-venue-reviews .fa {
    padding-right: 5px;
}

.booking-venue-banner1 .v-btn {
    background: #0aab9b;
    padding: 5px 8px;
}

.booking-venue-content {
    padding: 0px 45px;
}

.booking-venue-details p {
    padding: 4px 15px;
}

video {
    width: 100%;
    height: auto;
}

.booking-venue-reviews .card:hover {
    box-shadow: none;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 20px solid transparent;
    position: absolute;
    left: -15px;
    top: 10px;
}

.booking-venue input[type=text] {
    width: 100%;
    background-image: none;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
}

.booking-venue-right .d1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.booking-venue-right .social-circle i {
    color: #fff
}

.booking-venue-right .social-network a.icoFacebook {
    background: #365397;
}

.booking-venue-right .social-network a.icoSkype {
    background: #00acf4;
}

.booking-venue-right .social-network a.icoTwitter {
    background: #01a9f2;
}

.booking-venue-right .social-network a.icoGoogle {
    background: #df452b;
}

.booking-venue-right .social-network a.icoPinterest {
    background: #ed4583;
}

.booking-venue-right .form-control {
    border-radius: 0px;
    /*border: 2px solid lightgrey;*/
}

.contact-nav input[type=text] {
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
}


/*slider css*/
.btn-floating {
    width: 47px;
    height: 45px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 50%;
    border-radius: 0;
    padding: 0;
}

a.waves-effect,
a.waves-light {
    display: inline-block;
}


.carousel-multi-item .controls-top .btn-floating {
    background: transparent;
    border: 1px solid #ededed;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: rgba(0, 255, 34, 1);
}

.carousel-multi-item .controls-top .btn-floating:hover {
    -webkit- box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}